[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
morfessor = "*"
tldextract = "*"
click = "*"
scrapy = "*"
tqdm = "*"
pandas = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.7"
